pubspec.lock
.packages
.idea

webview_flutter/.dart_tool
webview_flutter_android/.dart_tool
webview_flutter_platform_interface/.dart_tool
webview_flutter_web/.dart_tool
webview_flutter_wkwebview/.dart_tool

*.diff